* {
  scroll-behavior: smooth;

  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  overflow-x: hidden;
  p {
    font-family: "Roboto Flex", sans-serif;
  }
  h1,
  h2 {
    font-family: "Public Sans", sans-serif;
    font-weight: 600;
  }
}

/* Header Styles */
.headermain {
  padding: 30px 120px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  border-bottom: 0.5px solid rgba(13, 107, 176, 1);
  z-index: 10;
}

.headermain .brandLogo a img {
  background-color: transparent;
}

.headermain .LinkBox a {
  text-decoration: none;
  color: rgba(13, 107, 176, 1);
  font-size: 22px;
  margin-right: 40px;

  &:last-child {
    margin-right: 0px;
  }
}

/* Footer styles */
.footerBg {
  background: url("../public/images/footerbg.svg") no-repeat scroll;
  height: 100vh;
  background-size: cover;
  background-position: top;
}

.footerBg .innerCard {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 230px 100px;
}

.footerBg .servicesBox {
  margin-top: 200px;
  width: 300px;
}

.footerBg .box {
  margin-top: 200px;
  width: 300px;
}

.footerBg .box h1 {
  color: #fff;
  font-size: 20px;
}

.footerBg .box h2 {
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
}

.footerBg .servicesBox .serTxt {
  color: #fff;
  font-size: 22px;
  margin-bottom: 22px;
}

.footerBg .servicesBox p {
  color: #fff;
  font-size: 22px;
  margin-bottom: 22px;
}

/* Body Styles*/
.landingBox {
  /* background: url('../public/images/landingPg.svg') no-repeat scroll;
    width: 100vw;
    background-position: right;
    height: 100vh;
    background-size: contain;
    margin-bottom: 100px; */
  background: url("../public/images/backgroundLayer.svg") no-repeat scroll;
  background-size: cover;
  background-position: bottom;
  width: 100vw;
  height: 100vh;
  /* margin: 0;
  padding: 0; */
  /* margin-bottom: 130px; */
}

#Home .landingBox .rightSlider {
  background: url("../public/images/ladnigSlide.svg") no-repeat scroll;
  height: 100vh;
  background-position: right;
  position: relative;
}

.landingBox .textBox {
  position: absolute;
  margin: 50px;
}

.landingBox .textBox h1 {
  color: #fff;
  font-size: 50px;
  margin-bottom: 20px;
}

.landingBox .textBox p {
  color: #fff;
  font-size: 21px;
}

.landingBox .butterfly {
  position: absolute;
  top: 170px;
  right: 100px;
}

.landingBox .butStone1 {
  position: absolute;
  top: 480px;
  right: 480px;
  transform: rotate(15deg);
}

.landingBox .butStone2 {
  position: absolute;
  top: 660px;
  right: 800px;
}

.landingBox .butStone3 {
  position: absolute;
  top: 690px;
  left: 220px;
}

/* Our services styles */
.mainLineImg {
  background: url("../public/images/bigBoxblue.svg") no-repeat center scroll;
  height: auto;
  width: 100vw;
  background-size: contain;
  background-position: top;
}

.mainLineImg .AboutUs {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;

  &:last-child {
    margin-bottom: 60px;
  }
}

.mainLineImg .AboutUsBox {
  margin-top: 200px;
  text-align: center;
}

.mainLineImg .AboutUsBox .headTxt {
  font-size: 32px;
  line-height: 35px;
  color: rgba(15, 126, 237, 1);
  /* margin-top: 300px; */
}

.mainLineImg .AboutUsBox .detailTxt {
  font-size: 37px;
  line-height: 48px;
  color: rgba(1, 52, 112, 1);
  font-weight: 700;
  word-spacing: 10px;
  margin-bottom: 20px;
}

.mainLineImg .AboutUsBox .para {
  font-size: 20px;
  margin-bottom: 20px;
}

.mainLineImg .AboutUsBox .ContactBtn {
  border: none;
  height: 42px;
  width: 180px;
  color: #fff;
  background-color: rgba(1, 52, 112, 1);
}

/* Industries styles */
.detailTxt2 {
  font-size: 37px;
  line-height: 48px;
  color: rgba(1, 52, 112, 1);
  font-weight: 700;
  word-spacing: 10px;
  margin-bottom: 60px;
}

.mainLineImg .AboutUsBox .cardsBoxFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainLineImg .AboutUsBox .cardsBoxFlex .cardIn {
  width: 340px;
  margin-right: 50px;
  margin-bottom: 70px;

  &:last-child {
    margin-right: 0px;
  }
}

.cardIn .cardImg {
  margin-bottom: 20px;
}

.cardIn .carHeadTxt {
  color: rgba(1, 52, 112, 1);
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}

.cardIn .parain {
  color: rgba(78, 87, 100, 1);
  font-size: 20px;
  text-align: center;
}

#Industries .cardInCase {
  width: 380px;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
  margin-bottom: 80px;
  margin-right: 30px;
}

.cardInCase:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.5s ease;
}

.cardInCase .cardhead {
  background-color: rgba(236, 239, 244, 1);
  padding: 20px;
}

.cardInCase .cardhead .cardImgCase {
  width: 100%;
  object-fit: cover;
}

.cardInCase .cardbody {
  padding: 20px;
  background-color: #fff;
  border: 0.5px solid rgb(231, 222, 222);
}

.cardInCase .cardbody .caseheadTxt {
  color: #000;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: start;
}

.cardInCase .cardbody .casePara {
  color: rgba(112, 112, 112, 1);
  font-size: 16px;
  text-align: start;
  margin-bottom: 20px;
}

.cardInCase .cardbody .caseStudy {
  color: rgba(8, 106, 216, 1);
  font-size: 16px;
  text-align: start;
}

/* Increamental Improvments */
.xaxisSlide {
  background: url("../public/images/passionateLine.svg") no-repeat scroll;
  height: 100vh;
  width: 100vw;
  /* background-position: bottom right; */
  background-size: contain;
  /* margin-bottom: 150px; */
}

.xaxisSlide .contentBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
}

.xaxisSlide .incremanetalHeadTxt {
  color: rgba(1, 52, 112, 1);
  margin: 100px 0px 50px 0px;
}

.xaxisSlide .borderROundedRec {
  height: 210px;
  width: 999px;
  background-color: rgba(1, 52, 112, 1);
  border-radius: 210px;
  box-shadow: 6px 8px 0px 0px #fe6c17;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.xaxisSlide .borderROundedRec .innerBox {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-right: 30px;
}

.xaxisSlide .borderROundedRec .innerBox .contentCard {
  margin-left: 10px;
}

.xaxisSlide .borderROundedRec .innerBox .contentCard .num {
  color: #fff;
  font-size: 22px;
}

.xaxisSlide .borderROundedRec .innerBox .contentCard .text {
  color: #fff;
  font-size: 20px;
  font-weight: 200;
}

.bookBox {
  height: calc(100vh - 100px);
  /* margin-bottom: 200px; */
}

.bookBox .reconBox {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
}

.bookBox .reconBox .headingReconTxt {
  color: rgba(15, 126, 237, 1);
  font-size: 32px;
}

.bookBox .reconBox .recogPara {
  color: rgba(1, 52, 112, 1);
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 30px;
}

.bookBox .reconBox .liteTxt {
  color: rgba(112, 112, 112, 1);
  font-size: 18px;
}

.bookBox .TecBox h1 {
  margin-bottom: 20px;
  color: rgba(15, 126, 237, 1);
  font-size: 42px;
}

.bookBox .TecBox h1 span {
  color: rgba(1, 52, 112, 1) !important;
}

.TecBox .belowBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.TecBox .belowBox .textBox {
  margin-right: 40px;
}

.TecBox .belowBox .textBox h1 {
  color: #505d66;
  font-size: 22px;
  margin-bottom: 10px;
}

.TecBox .belowBox .textBox h2 {
  color: #505d66;
  font-size: 18px;
}
